.wg-collapse{
  width: 100%;
}
.collapse-box{
  width: 100%;
}
.collapse-img{
  display: block;
  width: 100%;
}
.collapse-son-box{
  width: 100%;
}
.collapse-son-img{
  display: block;
  width: 100%;
}